/* Global styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Marmelad';
  src: url('Marmelad-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h2, h3, p {
  margin-bottom: 1.5rem; /* Adjust as needed */
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Marmelad', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: rgb(var(--foreground-rgb));
  background: #F9F8EB;
}

#App\:Footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF; /* Set your desired background color */
  padding: 10px; /* Adjust padding as needed */
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for visual effect */
}

/* Responsive styles */
@media (max-width: 768px) {
  .responsive-container {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .responsive-container {
    padding: 20px;
    align-items: center;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.875rem;
  }
}

@media (max-width: 430px) {
  .responsive-container {
    padding: 10px;
    align-items: center;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.75rem;
  }
}

@media (max-width: 375px) {
  .responsive-container {
    padding: 5px;
    align-items: center;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.625rem;
  }
}

@media (max-width: 360px) {
  .responsive-container {
    padding: 5px;
    align-items: center;
  }

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 0.875rem;
  }

  p {
    font-size: 0.5rem;
  }
}
